@import "tailwindcss";

body {
    @apply bg-gray-950 text-gray-200
}

.hide-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
  
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }